 <!-- card   -->
  <div class="row">
   
    {% for item in Property %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="position-relative">
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.title }}" style="height: 200px; object-fit: cover;">
            <span class="badge position-absolute top-0 start-0 m-2 px-3 py-1">
                {{ item.property_for }}
            </span>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text text-muted">
            <i class="fas fa-map-marker-alt"></i> {{ item.location }}
          </p>
          <p>
            <span class="badge bdg2">{{ item.property_type }}</span>
          </p>
          <p class="card-text">
            <i class="fas fa-bed"></i> {{ item.beds }} Beds &nbsp;
            <i class="fas fa-bath"></i> {{ item.baths }} Baths &nbsp;
            <i class="fas fa-car"></i> {{ item.garage }} Garage
          </p>
          <h6 class="text-success">${{ item.price }}</h6>
        </div>
        <div class="card-footer text-center">
          <a href="{% url 'property_detail' item.id %}" class="btn view-btn btn-sm">View Details</a>
        </div>
      </div>
    </div>
    {% empty %}
  <p class="text-center">No properties found.</p>
    {% endfor %}
  </div>


  