{% extends "base.html"%} {% load static %}  {% block title %}Register{% endblock %}
{% block content %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 register-container">
            <h2 class="text-center mb-4 hdng">Register</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <!-- Username -->
                <div class="mb-3">
                    {{ form.username}}
                    {% if form.username.errors %}
                        <div class="text-danger small">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <!-- First Name and Last Name in One Row -->
                <div class="row">
                    <!-- First Name -->
                    <div class="col-md-6 mb-3">
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <div class="text-danger small">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- Last Name -->
                    <div class="col-md-6 mb-3 slname">
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <div class="text-danger small">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="text-danger small">{{ form.email.errors }}</div>
                    {% endif %}
                </div>

                <!-- Password -->
                <div class="mb-3">
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="text-danger small">{{ form.password.errors }}</div>
                    {% endif %}
                </div>

                <!-- Confirm Password -->
                <div class="mb-3">
                    {{ form.confirm_password }}
                    {% if form.confirm_password.errors %}
                        <div class="text-danger small">{{ form.confirm_password.errors }}</div>
                    {% endif %}
                </div>

                <!-- Submit Button -->
                <div class="d-grid">
                    <button type="submit" class="btn reg-btn">Register</button>
                </div>
            </form>
            <div class="mt-3 text-center">
                <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
            </div>
        </div>
    </div>
</div>



{% endblock %}